.container {
    margin: auto;
    width: 30%;
    border: 3px solid green;
    padding: 10px;
}

h5{
    margin-bottom: 5px;
}

.warning{
    color: red;
}

span, button{
    margin-left: 5px;
}

div{
    margin-top: 5px;
}
